/* место для вашего кода */


ul {
    list-style-type: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 91px;

}

.header__navigation-list {
    display: flex;
    gap: 30px;
}


.header__navigation-list-item {
    list-style-type: circle;
    font-size: 18px;
}

.header__navigation-list-item_no-bullit {
    list-style-type: none;

}


.header__logo {
    display: block;
    width: 138px;
}


.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 1.3em;
    font-style: normal;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}


.cover {
    position: relative;
    min-height: 757px;
    background: url("../images/cover.jpg") no-repeat center;
    display: grid;
    padding: 165px 50px 50px;
    background-size: cover;
}


.overlay::after {
    content: "";
    inset: 0;
    position: absolute;
    background: #000000;
    opacity: 0.6;
}

.overlay > * {
    z-index: 1;
}

.cover__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;

}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}


.aligned-text {
    display: block;
}


.aligned-text_center {
    text-align: center;
    margin-top: 20px;


}

.aligned-text_right {
    text-align: end;
    margin-top: 20px;
}

.description {
    align-self: end;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 22px;
    justify-content: space-between;
}

.description__text {
    text-transform: uppercase;
    word-spacing: 0.9em;
    letter-spacing: -0.2px;
}

.description__button {
    border: 1px solid currentColor;
    background: transparent;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 32px 11px 31px;
    cursor: pointer;
}

.lots {
    margin-top: 180px;
    padding: 0 24px;
}


.section-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}


.lots__title {
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 30px;
}


.lots__card-list-item {
    width: 100%;
    max-width: 334px;
    min-height: 596px;
}


.card_type_film {
    background: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg");
}

.card {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;

}

.card-link {
    text-decoration: none;
}

.card__title {
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
    text-decoration: none;
}


.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;

}

.about {
    margin-top: 124px;
    padding: 35px 24px 0;
    display: grid;
    grid: 1fr /  repeat(3, 1fr );
    column-gap: 25px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 100%;
    display: grid;
    place-self: center;
}

.about__logo-image {
    place-self: center;
    width: 148px;
}


.about__title {
    grid-column: 2 / span 2;
    /*grid-row: 1;*/
    align-self: center;

}

.about__text-container {
    grid-column: 2 / span 2;
    /*grid-row: 1;*/
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    font-size: 20px;
    line-height: 1.2em;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 50px 82px;
    margin-top: 184px;

}

.footer__address {
    grid-column: 1;
    max-width: 264px;
    justify-self: start;
}

.footer__menu {
    justify-self: center;
    grid-column: 2;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
}

.footer__menu-link {
    line-height: 100%;
    font-size: 18px;
}


.footer__social-list {
    justify-self: end;
    grid-column: 3;
    display: flex;
    gap: 48px;


}

.footer__social-list-item {
    max-width: 48px;
}
